[submodule "external/glWrappers"]
	path = external/glWrappers
	url = https://github.com/Pebecko/GLWrappers.git
[submodule "external/stb/include/stb"]
	path = external/stb/include/stb
	url = https://github.com/nothings/stb.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/assimp"]
	path = external/assimp
	url = https://github.com/assimp/assimp.git
[submodule "external/imgui/vendor"]
	path = external/imgui/vendor
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "external/implot/vendor"]
	path = external/implot/vendor
	url = https://github.com/epezent/implot.git
[submodule "external/tinyply"]
	path = external/tinyply
	url = https://github.com/ddiakopoulos/tinyply.git
