[submodule "external/glWrappers"]
	path = external/glWrappers
	url = https://github.com/Pebecko/GLWrappers.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
